repos:
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        args:
          - -e
          - SC2034,SC2148,SC2154
  - repo: https://github.com/Mergifyio/mergify-pre-commit
    rev: 1.1.0
    hooks:
      - id: validate-mergify-config-location
      - id: validate-mergify-config
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
      - id: markdownlint-fix
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
        args:
          - --assume-in-merge
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
        args:
          - --fix=lf
      - id: pretty-format-json
        args:
          - --autofix
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.8.2
    hooks:
      - id: renovate-config-validator
        args:
          - --strict
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.1
    hooks:
      - id: yamlfix
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.93.3
    hooks:
      - id: trufflehog
