name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  deployments: write
  security-events: write
  actions: read
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment: pre-commit
    env:
      YAMLFIX_EXPLICIT_START: false
      YAMLFIX_SEQUENCE_STYLE: block_style
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.3.1
      - name: Setup Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c  # v4.9.1
        with:
          python-version: 3.x
      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
      - name: Run pre-commit-ci-lite
        uses: pre-commit-ci/lite-action@v1.1.0
        if: success() || failure()
  aur:
    name: Build and publish AUR Package
    runs-on: ubuntu-latest
    environment: AUR
    permissions:
      contents: write
      pull-requests: write
      checks: write
      deployments: write
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Check for changed files
        id: changed
        uses: tj-actions/changed-files@v47.0.0
        with:
          dir_names: true
      - name: Get packages to build
        id: package
        run: |
          for dir in ${{ steps.changed.outputs.modified_files }}; do
            if [[ "$dir" == packages/* ]]; then
              pkg=$(echo "$dir" | cut -d'/' -f2)
              echo "package=$pkg" >> $GITHUB_OUTPUT
            fi
          done
      - name: Validate and update package
        uses: heyhusen/archlinux-package-action@v2.4.0
        if: steps.package.outputs.package != ''
        with:
          path: packages/${{ steps.package.outputs.package }}
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
          aur: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          file_pattern: packages/${{ matrix.package }}/*
          commit_message: 'ci: Update ${{ matrix.package }} package files'
      - name: Publish package
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: ${{ matrix.package }}
          pkgbuild: packages/${{ matrix.package }}/PKGBUILD
          commit_username: ${{ env.AUR_USERNAME }}
          commit_email: ${{ env.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update ${{ matrix.package }}
          updpkgsums: true
          test: true
