name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  deployments: write
  security-events: write
  actions: read
jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    environment: pre-commit
    env:
      YAMLFIX_EXPLICIT_START: false
      YAMLFIX_SEQUENCE_STYLE: block_style
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.3.1
      - name: Setup Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c  # v4.9.1
        with:
          python-version: 3.x
      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
      - name: Run pre-commit-ci-lite
        uses: pre-commit-ci/lite-action@v1.1.0
        if: success() || failure()
  packages-list:
    name: Get Packages List
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    outputs:
      packages: ${{ steps.packages.outputs.folders_no_base_path }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - name: Get Packages List
        id: packages
        uses: Drafteame/list-folders-action@1.1.2
        with:
          paths: packages
      - name: Output
        run: |
          echo "Total sub-folders: ${{ steps.packages.outputs.total }}"
          echo "Folders with base path: ${{ steps.packages.outputs.folders }}"
          echo "Folders without base path: ${{ steps.packages.outputs.folders_no_base_path }}"
          echo "Folders by path: ${{ steps.packages.outputs.folders_by_path }}"
  aur:
    name: ${{ matrix.package }}
    needs: packages-list
    runs-on: ubuntu-latest
    environment: ${{ matrix.package }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.packages-list.outputs.packages) }}
    env:
      AUR_USERNAME: MH0386
      AUR_EMAIL: mohamed.hisham.abdelzaher@gmail.com
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - name: Check for ${{ matrix.package }} changed files
        id: changed
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: packages/${{ matrix.package }}/**
      - name: Validate and update ${{ matrix.package }} package
        uses: heyhusen/archlinux-package-action@v2.4.0
        if: steps.changed.outputs.any_changed == 'true'
        with:
          path: packages/${{ matrix.package }}
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
          aur: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        id: commit
        with:
          file_pattern: packages/${{ matrix.package }}/*
          commit_message: 'ci: Update ${{ matrix.package }} package files'
      - name: Publish package
        uses: KSXGitHub/github-actions-deploy-aur@065b6056b25bdd43830d5a3f01899d0ff7169819  # v2.6.0
        if: steps.commit.outputs.changes_detected == 'true'
        with:
          pkgname: ${{ matrix.package }}
          pkgbuild: packages/${{ matrix.package }}/PKGBUILD
          commit_username: ${{ env.AUR_USERNAME }}
          commit_email: ${{ env.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update ${{ matrix.package }}
