name: CI
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  deployments: write
  security-events: write
  actions: read
jobs:
  prek:
    name: prek
    runs-on: ubuntu-latest
    environment: prek
    env:
      YAMLFIX_EXPLICIT_START: false
      YAMLFIX_SEQUENCE_STYLE: block_style
      YAMLFIX_COMMENTS_MIN_SPACES_FROM_CONTENT: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Run prek hooks
        uses: j178/prek-action@9d6a3097e0c1865ecce00cfb89fe80f2ee91b547 # v1.0.12
      - name: Commit prek changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        if: success() || failure()
        with:
          commit_message: 'prek: Apply fixes'
          commit_options: --no-verify
  aur:
    name: Build and publish AUR Package
    runs-on: ubuntu-latest
    environment: AUR
    permissions:
      contents: write
      pull-requests: write
      checks: write
      deployments: write
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Check for changed files
        id: changed
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          dir_names: true
      - name: Get the package to build
        id: package
        run: |
          for dir in "${{ steps.changed.outputs.modified_files }}"; do
            if [[ "$dir" == packages/* ]]; then
              pkg=$(echo "$dir" | cut -d'/' -f2)
              echo "package=$pkg" >> "$GITHUB_OUTPUT"
            fi
          done
      - name: Validate and update package
        uses: heyhusen/archlinux-package-action@c9f94059ccbebe8710d31d582f33ef4e84fe575c # v3.0.0
        if: steps.package.outputs.package != ''
        with:
          path: packages/${{ steps.package.outputs.package }}
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        if: steps.package.outputs.package != ''
        with:
          file_pattern: packages/${{ steps.package.outputs.package }}/*
          commit_message: >
            'ci: Update ${{ steps.package.outputs.package }} package files'
      - name: Publish package
        uses: KSXGitHub/github-actions-deploy-aur@2ac5a4c1d7035885d46b10e3193393be8460b6f1 # v4.1.1
        if: steps.package.outputs.package != ''
        env:
          AUR_USERNAME: MH0386
          AUR_EMAIL: mohamed.hisham.abdelzaher@gmail.com
        with:
          pkgname: ${{ steps.package.outputs.package }}
          pkgbuild: packages/${{ steps.package.outputs.package }}/PKGBUILD
          commit_username: ${{ env.AUR_USERNAME }}
          commit_email: ${{ env.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update ${{ steps.package.outputs.package }}
          updpkgsums: true
          test: true
