name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
jobs:
  aur:
    name: Build and publish AUR Package
    runs-on: ubuntu-latest
    environment: AUR
    permissions:
      contents: write
      pull-requests: write
      checks: write
      deployments: write
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Check for changed files
        id: changed
        uses: dorny/paths-filter@v3.0.2
        with:
          filters: |
            package:
              - 'packages/**'
      - run: echo "Changed packages ${{ steps.changed.outputs.package }}"
      - name: Validate and update package
        uses: heyhusen/archlinux-package-action@v2.4.0
        if: steps.changed.outputs.any_changed == 'true'
        with:
          path: packages/
          pkgrel: ${{ github.actor == 'renovate[bot]' && '1' || '' }}
          srcinfo: true
          updpkgsums: true
          aur: true
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7.0.0
        with:
          file_pattern: "packages/${{ matrix.package }}/*"
          commit_message: "ci: Update ${{ matrix.package }} package files"
